:root {
    --text-color: #FFFFFF;
    --bg-color: #000000;
    --bg-hover: #EBEBEB;
    --shadow: #ABABAB;
    --cinema: #C62828;
    --cabaret: #6A1B9A;
    --teatro: #AD1457;
    --body-bg: #DEDEDE;
}

body {
    background-color: var(--body-bg);
}

#menu {
    display: flex;
    width: 100%;
    background-color: var(--bg-color);
}

#logo {
    width: 100px;
    height: 100px;
}

#search {
    width: 200px;
    font-size: 1rem;
    background-color: var(--text-color);
    border: 0;
}

#search-btn {
    background-color: var(--text-color);
    border: 0;
}

.margin-search {
    width: auto;
    height: min-content;
    margin-top: 20px;
    border-color: var(--text-color);
    margin-right: 10%;
    /*margin-left: 50%;*/
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    height: fit-content;
}

.card {
    position: relative;
    z-index: 1;

    width: 20rem;
    box-shadow: 2px 5px 4px var(--shadow);

    margin-bottom: 25px;
}

/*.v-flex-container {
    flex-direction: column;
}*/

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .25rem;
    width: fit-content; 
    margin-top: 30px;
}

.hide {
    /*per nascondere quando cerchi e non corrisponde alla ricerca*/
    display: none;
}

.cinema {
    background-color: var(--cinema);
    border-color: var(--cinema);
}

.cabaret {
    background-color: var(--cabaret);
    border-color: var(--cabaret);
}   

.teatro {
    background-color: var(--teatro);
    border-color: var(--teatro);
}

.card-luogo {
    width: fit-content;
    position: absolute;
    z-index: 999;
    
    overflow: hidden;
    margin-top: -22px;
    
    color: var(--text-color);

    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
}

div#hormenu {
    margin-left: auto; 
    margin-right: 0;
    margin-top: 10px;
    padding: 0;
    color: var(--text-color);
}

div#hormenu ul {
    width: 100px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#hormenu li {
    width:100px;
    height: fit-content;
    float:left;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

div#hormenu a {
    display: block;
    padding: 5px;
    color: var(--text-color);
    text-decoration: none;
}

.menu-tit {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: var(--text-color);
}

div#hormenu a:hover {
    background-color: var(--bg-hover);
    color: var(--bg-color);
    text-decoration: none;
}

div#hormenu li ul {
    display: none;
}

div#hormenu li:hover ul {
    display: block;
    z-index:1;
    width: 100px;
    padding: 0;
    margin: 0 0 0 -1px;
    background: var(--text-color);
}

div#hormenu li li { 
    border:none; 
    width:100px; 
}

div#hormenu li li a { 
    padding:2px 2px 2px 10px; 
}

@media only screen and (max-width: 500px)  {
    #search {
        width: 80px;
        font-size: 10px;
        margin-right: 0%;
    }

    .margin-search {
        margin-right: 0%;
    }

    #search-btn {
        width: 15px;
        height: 15px;
        margin: 0%;
    }

    .fa {
        width: auto;
        height: auto;
    }

    #hormenu {
        width: 50px;
        font-size: 15px;
    }

    #logo {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width: 810px)  {
    #search {
        width: 140px; 
    }
}